
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    size:16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.external-nav{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    background-color: black;
    color:#fff;
    height:58px;
    font-size:0.8em;
    margin:0;
    justify-content: space-between;
}
.external-nav ul{
     display: flex;
     margin: 0;
     justify-content: flex-end;
     align-items: center;
  
}
nav div{

}
.external-nav li{
    display: flex;
   /* width:120px;*/
    padding: 12px;
   /* line-height: 3;*/

}
.internal-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-item-align: end;
    height: 90px;
    justify-content:space-between;
    padding: 0 15px;
    font-weight: bold;
}
.internal-nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;

}
.internal-nav div{
    font-size: 2.2rem;
   
}
.internal-nav li{
    display: flex;
    padding: 12px;
    line-height: 3;
}

.hero{
        
    color: white;
    position: relative
}
.hero-wrapper{
    position: absolute;
    top:2vw;
    padding:20vw 0 0 10vw;
}
.hero .title{
    font-size:7vw;
    font-weight: bold;
    margin: 0 0 2.2vw 0;
}
.hero .summary{
    font-size: 1.2em;
    float: right;
    width: 40%;
    padding: 5%;
}
.hero .hero-img{
    width: 100%;
    height:100%;

}
.current-offerings{
   
}
.grey-bg{
    background-color: rgb(242,242,242);
  

}
.branded-border{
    border-top-style: solid;
    border-color: transparent;
    border-top-width: 10px;
    -webkit-border-image: -webkit-gradient(linear,right top,left top,from(#213691),to(#f0777f)) 30 stretch;
    -webkit-border-image: -webkit-linear-gradient(right,#213691 0%,#f0777f 100%) 30 stretch;
    -o-border-image: linear-gradient(to left,#213691 0%,#f0777f 100%) 30 stretch;
    border-image: -webkit-gradient(linear,right top,left top,from(#213691),to(#f0777f)) 30 stretch;
    border-image: linear-gradient(to left,#213691 0%,#f0777f 100%) 30 stretch;
   

}
.branded-title{
    font-size: 3em;
   
   padding: 20px 0;
}
.promo-title{
    font-weight: bold;
}
.header-promo {
    padding-bottom: 6em;
    padding: 5%;
}
.header-promo .promo-title{
    width: 40%
}
.header-promo .summary{
font-size: 0.4em;
width: 55%;
color:rgb(141,141,141)
}
.header-promo div{
    display:flex;
    flex-wrap: wrap

}
.circles-list{
position: relative;
overflow-x: auto;
}
.circles-background{
    height: 300px;
    background-color: rgb(16,19,38);
    
    width:100%;
  
   
}
.circles{
    display: flex;
    flex-wrap:nowrap;
    /*justify-content: center;*/
    position: relative;
   
    padding: 0 5% 0 5%;
}
.circles-list img{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 2rem;
    height: 86%;
    width: 100%;
}
.full-width{width: 100%}
.circle{
    background-color: rgb(16,19,38);
    height: 200px;
    width:200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
   
    

}
.circle-container{
    padding:25%
}
.circles .wrapper{padding:1vw;}


.circle-container .number{
   
    font-size: 2em;
}
.pink{
    color: rgb(195,99,110);
    border:5px solid rgb(195,99,110);
}
.mauve{
    color: rgb(157,96,137);
    border:5px solid rgb(157,96,137);
}
.purple{
    color: rgb(105,122,225);
    border:5px solid rgb(105,122,225);
}

.blue{
    color: rgb(66,102,224);
    border:5px solid rgb(66,102,224);
}



.dark-purple{
    color: rgb(102,74,135);
    border:5px solid rgb(102,74,135);
}
.looking-for-more{
    position: relative;
    color: #fff;
    padding: 7% 0 7% 0;
}
.looking-for-more .wrapper{
    display: flex;
   
    position: relative;
    padding: 0px 5% 0 5%;
    font-size: 1.375rem;
}

.looking-for-more .title{
    font-size: 2.5em;
    font-weight: bold;
}
.looking-for-more .text2{
    font-size: 1.2em;
    padding: 5% 0 5% 0
   
}
.looking-for-more .text3{
    font-size: 0.9em;
    
}
/*.looking-for-more div{
    display:flex;

}*/
.looking-for-more .bg-img
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.looking-for-more .left-wrapper,
.looking-for-more .right-wrapper{
    /*flex-wrap: wrap;
    
    position: absolute;
    top:10px;*/
}
.left-wrapper{
    float: left;
    width:61%
}
.right-wrapper{
    float: right;
    width: 32%;
    padding: 0 0% 0 1%;
}
.promo-link{

}
.looking-for-more .btn{
    background-color: #0033ab;
    padding: 10px;
    margin-top: 2em;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    min-width: 100px;

}
.looking-for-more .btn::after { 
    
}
.looking-for-more .btn:hover{
    background-color: #000f7b;
}
.inperson img{
    width:30%;
    height:30%;
}

.get-in-touch{
   

    
    
    background: #263891;
    background: -moz-linear-gradient(left, #eb757f 0%, #263891 100%);
    background: -webkit-linear-gradient(left, #eb757f 0%, #263891 100%);
    background: linear-gradient(to right, #eb757f 0%, #263891 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb757f', endColorstr='#263891', GradientType=1);
}


.container{
    margin: 0 9vw 0 9vw;


}
.get-in-touch .promo-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    
    padding-bottom: 2rem;
    
}
.get-in-touch .card{
    background-color: #fff;
    padding: 1.2rem;
   
    width:25%;
   
}
.get-in-touch .title{
    font-weight: bold;
    font-size: 4rem;
   color:white;
   padding-top: 2rem;

}
.get-in-touch .card .summary{
    font-weight: 300;
    font-size: 1rem;
  
    color: #555;
    
}
.get-in-touch .card .link{
    color: #0033ab;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    padding-top:0.5rem;

}
.get-in-touch .card .link:hover{
       color: #747474;

}
.current-offerings{
  
    padding: 0;

}
.current-offerings .cards-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    overflow: hidden;
    margin-top: 3rem;
}
.current-offerings .card-container{
    padding: 0 2em 2em;
    height: 100%;
    flex-grow: 1;

}
.current-offerings .card{
   width: 30%;
  border: 1px solid #cccccc;
  display: flex;
    flex-flow: column;
}
.current-offerings .cards-list img{
    width:100%;

}
.current-offerings .cards-list .title{
   color: #0032ab;
   font-weight: 700;
   font-size: 1rem;
}


.current-offerings .cards-list .summary{
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: grey;

}
.current-offerings .cards-list .link{
    
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;

}


.current-offerings .nav-tabs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
    /* justify-content: center; */
    padding: 0;
    border-bottom: none;
   
    height: 3.5rem;
}
.current-offerings .nav-tabs li{

display: inline-block;
background-color: #dcdcdc;
margin: 0 .1rem 0 0;
height: 100%;
font-size: 0.8rem;
font-weight: 600;
align-self: center;
min-width: 15%;
    text-align: center;


}



.current-offerings .nav-tabs li a{
    margin-right: 0;
    border: 0;
    border-radius: 0;
    color: black;
}

.current-offerings .cards-list .link a{
    text-decoration: none;
    color: #0032ab;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0 8px;
   
}

.chevron.link .link-icon{
   border-radius: 50%;
  background: #0032ab;
  padding:0.6rem;
  width: 35px; 
  height: 35px; 
    display: inline-block;
    text-align: center;
    line-height: 1.3;

  
}

.chevron.link .link-icon:before{
    content: "\f054";
    color: #fff;
    font-size: 0.7rem;
}


.current-offerings .nav-tabs > li.active > a,
.current-offerings .nav-tabs > li.active > a:hover,
.current-offerings .nav-tabs > li.active > a:focus {
   border: 0;
  
}
.current-offerings .nav-tabs > li.active > a,
.current-offerings .nav-tabs > li.active > a:focus{
    border-top: 5px solid #0032ab;
    color: #0032ab;
    height: 100%;
}
.current-offerings .nav-tabs > li.active > a:hover{
    border-top: 5px solid #eb757f;;
    color: #eb757f;;
}

.current-offerings .conatiner{
    padding: 3% 5% 0 5%;
    width:100%;
}
.current-offerings .tab-container{
    width: 100%;
    background-color: #fff;
    margin-bottom: 65px;
}
.current-offerings .tab-pane{
    padding: 0 5%;
}

  /*******************************************************/


label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}


label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}
  /******************************************************/

  .current-offerings-accordion{
      display: none
  }
  #accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
  }
  #accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: black;
  }
  #accordion .panel-heading a.collapsed:hover,
  #accordion .panel-heading a.collapsed:focus {
    background-color: #fff;
    color: black;
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading a.collapsed:hover::before,
  #accordion .panel-heading a.collapsed:focus::before {
    color: #444;
  }
  #accordion .panel-heading {
   
    border-radius: 0px;
    padding:0.9rem;
    border-top: 2px solid #c8c8c8;
    
  }
  #accordion .panel-heading a:not(.collapsed) {
    color: black;
    background-color: #fff;
    transition: all 0.2s ease-in;
  }
  
  /* Add Indicator fontawesome icon to the left */
  #accordion .panel-heading .accordion-toggle::after {
    font-family: 'FontAwesome';
    content: '\f067';
  
    float: right;
    color: #fff;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
   
    

    border-radius: 50%;
    background: #0032ab;
    padding:0.6rem;
    width: 35px; 
    height: 35px; 
      text-align: center;
    
  }
  #accordion .panel-heading .accordion-toggle.collapsed::after {
      content: "\f068";
    color: #fff;
   
    transition: all 0.2s ease-in;
    padding: 0;
    text-align: center;
    padding:0.6rem;
  }
  #accordion{
    width:100%;
    background: #fff;
  }
  #accordion .panel-title{
      margin:0
  }
  .current-offerings-accordion.conatiner{
      padding:5%;
  }

  .inperson.container{
    padding: 3% 5% 0 5%;
    position: relative;


  }
  .inperson img{
      width:80%
  }
  .inperson .card{
    background-color: #fff;
    width: 30%;
    /* float: right; */
    position: absolute;
    /* float: right; */
    top: 20%;
    right: 15%;
    /* height: 50%; */
    padding: 2rem;
    bottom: 10%;
      
  }
  .inperson .summary{
    font-size: 1.35rem;
    color: rgb(141,141,141);
  }
  .inperson .chevron.link .link-icon{
    width: 50px;
    height: 50px;
    
    line-height: 1.8;
  }
  .inperson .chevron.link{
    padding-top: 25px;
  }

  .disciplines .cards-list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
}
.disciplines .card{
   width: 15vw;
    padding: 1rem;
}
.disciplines .card .summary{
    font-size: 0.9rem;
    color: grey;
}
.identation{
    padding-left: 10vw;
}
@media screen and (max-width: 1024px) {
    .header-promo .summary {        
        padding: 10px 0;
        width:100%;
    }
    }
    @media screen and (max-width: 990px) {
        .disciplines .card{
            width:20vw;
    
        }
    }
    
    @media screen and (max-width: 800px) {
        .external-nav{
            border-bottom: 0.1px groove gray;
        }
        .external-nav ul{
            display: none
        }
        .internal-nav{
            display: block;
            background-color: black;
            color: #fff;
             height: 100%;
        }
        .internal-nav div{
            font-size: 1rem;
            border-bottom: 0.1px groove gray;
            padding: 10px 0;
        }
        .internal-nav ul{
            display: block;
            font-weight: normal;
            font-size: 1em;
            margin: 0px;
        }
    
        .internal-nav li{
            width:100%;
            display: block;
            padding: 5px;
            height: 20px;
            line-height: 1;
            border-bottom: 0.1px groove gray;
        }
        .hero-wrapper{
            padding: 10vw 0 0 10vw;
        }
        .hero .summary{
            padding:0;
            width: 100%;
        }
        .disciplines .card{
            width:100%;
    
        }
      
        
    
    }
    

@media screen and (max-width: 765px) {
.looking-for-more .wrapper{
    flex-direction: column;
}
.left-wrapper{
   
    width:100%       
}
.right-wrapper{
    float: right;
    width: 100%;
    padding: 0 0% 0 1%;
}
.get-in-touch .container{
    margin: 0 3vw 0 3vw;


}
.get-in-touch .promo-cards{
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}
.get-in-touch .card{
    width:100%;
    margin: 3vh;
}
.current-offerings-tabs{
    display:none
}
.current-offerings-accordion{
    display:flex;
}
.current-offerings-accordion .cards-list{
    display: flex;
    flex-direction: column;
    margin:0;
}
.current-offerings-accordion .card{
    width:100%;
    
}
.current-offerings-accordion .card img{
   display:none
    
}
}

